<%- include('partials/header') %>
<form action="/finduser" method="GET">
    <label>Enter user</label>
    <input type="text" name="username" required>
    <input class="ui violet big basic button" type="submit" value="search">
</form>
