<%- include('partials/header') %>

 <body style="background-color:rgb(78, 205, 78)"></body>

    <form class= "ui form" name="register" action="/register" method="GET" >
        
    <label style="color:blue">Please enter your first name</label>
<input type="text" name="name" placeholder="name" required ><br><br>

    <label style="color:purple"> Please enter your middle and last name</label>
    <input type="text" name="sname" placeholder="lname" required><br><br>
    
<label style="color:rgb(126, 0, 128)" >Please enter your email-id </label>
<input type="email" name="email_id" placeholder="Email" required><br><br>
   
<label style="color:aqua">Please enter your username or the name with which you're account wil be labelled with</label>
<input type="text" name="username" placeholder="username" required ><br><br>

    <label style="color:aquamarine">Hey,Please set a password</label>
    <input type="text" name="password" placeholder="password" required><br><br>


<center>
    <input class="ui violet big basic button" type="submit" value="Register">
    <br><br>
    <img src="bus2.jpg">
</center>
</div>

</form>